<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="initial-scale=1, width=device-width" />
	<!-- <link rel="stylesheet" type="text/css" href="bootstrap.min.css" /> -->
	<% // Will display "Home" if title is not sent from express. %>
	<title><%= (typeof(title) != "undefined") ? title : "Home";  %></title>
	<link rel="stylesheet" type="text/css" href="sakila-search.css">
</head>
<body>