<% include partials/header.ejs %>
<header>Search the Sakila database for actor information</header>
<div class="container">
	<div id="search-container">
		<div id="search-bar"><input type="text" name="find_actor" placeholder="Find actor"/></div>

		<div id="actors">
			<!-- <div class="actor">
				<img src="actor_photo.png" />
				<div class="actor-details">
					<h2>John Smith</h2>
					<p>Night at the musuem, Go Home, Finding Nemo, Getting the job done</p>
				</div>			
			</div> -->
			<% if(typeof(actors) != "undefined"){ %>
				<% for(var i = 0; i < actors.length) %>
					<!-- <div class="actor">
						<img src="actor_photo.png" />
						<div class="actor-details">
							<h2><%= actors[i].firstName + ' ' + actors[i].lastName %></h2>
							<p>Night at the musuem, Go Home, Finding Nemo, Getting the job done</p>
						</div>			
					</div> -->
				<% } %>
			<% } %>
		</div>
		<div class="pagination">
			<ul id="pagination-ul"></ul>
		</div>
	
	</div>
</div>
<% include partials/footer.ejs %>